<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Tipo de Transacción <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type" id="transaktions">
        <% @transaktions.each do |transaktion| %>
          <a href="javascript:void(0)" class="list-group-item transaktions" id="transaktion-<%= transaktion.id %>"><%= transaktion.name %></a>
        <% end %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type" id="categories">
        <% @categories.each do |category| %>
          <a href="javascript:void(0)" class="list-group-item categories" id="category-<%= category.id %>"><%= category.name %></a>
        <% end %>
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="total"><%= number_to_currency(@total) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="size"><%= @expenses.size %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value" id="average"><%= number_to_currency(@average) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to '<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Crear Gasto'.html_safe, new_expense_path, class: "btn btn-success pull-left", remote: true  %>
          <h4 class="dropdown pull-right">
            <%= select "filter", "date", @dates, {include_blank: "Filtra por Fecha"}, class: "btn btn-success" %>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody id="expenses">
          <%= render @expenses %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-window">
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal-window').on('datepicker', function() {
      new DatePicker().initialize_calendar();
    });
  });
  new Filters();
</script>
